.App {
  width: 50%;
  margin: auto;
}

nav {
  text-align: center;
}

div label {
  display: block;
}

.line {
  stroke: black;
  stroke-width: 2;
}

.error {
  padding: 5px;
  background: red;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.one.position-0 {
  transform: rotate(-90deg) translate(-6px, -15px);
  transform-origin: top;    
}

.one.position-1 {
  transform: rotate(90deg) translate(16px, -4px);
  transform-origin: top;
}

.one.position-2 {
  transform: rotate(-90deg) translate(-124px, -15px);
  transform-origin: top;
}

.one.position-3 {
  transform: rotate(90deg) translate(134px, -4px);
  transform-origin: top;
}